.buttons-container {
    display: none;
}

.task-content {
    text-decoration-line: line-through;
    width: calc(10/12 * 100%);
    @media (width >= 40rem /* 640px */) {
        width: calc(10/12 * 100%);
    }
}