<div class="task-container transition-all delay-75 w-full flex gap-2 py-3 px-1 box-border items-center rounded-sm bg-gray-50 border-amber-50 border shadow-sm shadow-gray-400">
    @if(showEditView()){
        <form-task 
            class="w-full"
            [taskInput]="task"
            (cancel)="changeEditView(false)"
            (taskChange)="updateDataTask($event)"
        ></form-task>
    }@else{
        <div class="flex peer h-10 rounded-full cursor-pointer w-10 justify-center items-center">
            <label [for]="`${task.id}-checkTask`" class="relative rounded-full w-4/5 h-4/5 border border-gray-300 bg-gray-200 has-checked:bg-amber-100 has-checked:border-amber-300 p-1">
                <input type="checkbox" [id]="`${task.id}-checkTask`" class="sr-only peer" [checked]="isCheckedTask()" (change)="onChangeStatus($event)"/>
                <span class="w-full h-full inline-block bg-gray-300 rounded-full peer-checked:bg-amber-400 "></span>
            </label>
        </div>
        <div [class.task-content]="isCheckedTask()" class="flex flex-col w-7/12 gap-1 whitespace-normal">
            <h3 class="font-bold">{{taskEditable().title}}</h3>
            <p>{{taskEditable().description}}</p>
            <p>{{taskEditable().status}}</p>
        </div>
        <div [class.buttons-container]="isCheckedTask()" class="w-3/12 justify-center flex items-center gap-1">
            <button class="bg-green-50 border
                    border-green-200 w-9 h-9 justify-items-center
                rounded-full"
                type="button"
                (click)="changeEditView()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="#4d9647" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1">
                        <path stroke-dasharray="20" stroke-dashoffset="20" d="M3 21h18">
                            <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.08s" values="20;0" />
                        </path>
                        <path fill="#4d9647" fill-opacity="0" stroke-dasharray="48" stroke-dashoffset="48" d="M7 17v-4l10 -10l4 4l-10 10h-4">
                            <animate fill="freeze" attributeName="fill-opacity" begin="0.44s" dur="0.06s" values="0;0.3" />
                            <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.08s" dur="0.24s" values="48;0" />
                        </path>
                        <path stroke-dasharray="8" stroke-dashoffset="8" d="M14 6l4 4">
                            <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.32s" dur="0.08s" values="8;0" />
                        </path>
                    </g>
                </svg>
            </button>
            <button
                type="button"
                class="w-10 h-10 rounded-full bg-red-50 border border-red-200 justify-items-center"
                (click)="deleteTask()"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" stroke="#8c0f0f" stroke-dasharray="12" stroke-dashoffset="12" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.4" d="M12 12l7 7M12 12l-7 -7M12 12l-7 7M12 12l7 -7">
                        <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.12s" values="12;0" />
                    </path>
                </svg>
            </button>
        </div>
    }
</div>
