/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --breakpoint-xs: 23rem;
}

html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100svh;
    box-sizing: border-box;
}

